.idea
target
*.iml
ITCrowdProject/src/.DS_Store
ITCrowdProject/src/main/.DS_Store
ITCrowdProject/src/main/java/.DS_Store
ITCrowdProject/src/main/java/pl/.DS_Store
ITCrowdProject/chromedriver
.DS_Store
ITCrowdProject/.DS_Store
.DS_Store
.DS_Store

*.png